* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-image: url(images/donation7.jpg);
    padding: 12%;

}

.first-contant {
    padding: 7%;
    border: 33%;
}

.half-widht {
    font-size: 65px;
    color: white;
    text-align: center;
    margin-bottom: 5%;


}

.secenod-widht {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 4%;
}

.link-button {
    height: 50px;
    width: 153px;
    color: white;
    background-color: rgb(247, 19, 19);
    margin-left: 339px;
    margin-right: 350px;
    padding-top: 13px;
    text-align: center;
    font-size: 25px;
    border-radius: 11px;
}

.continer {
    margin-top: 10%;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.continer-text {
    margin-top: 4%;
    text-align: center;
    margin-left: 319px;
    margin-right: 242px;
    color: dimgrey;
    font-weight: 700;
}

.ALL-box {
    display: flex;

}

#box-model {
    height: 41px;
    width: 108px;
    margin-top: 56px;
    margin-bottom: 200px;
    padding-top: 34px;
    padding-bottom: 19px;
    margin-left: 322px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

#box-model-1 {
    height: 41px;
    width: 108px;
    color: red;
    margin-top: 56px;
    margin-bottom: 200px;
    padding-top: 34px;
    padding-bottom: 19px;
    margin-left: 41px;
    background-color: rgb(230, 132, 243);
    border: 3px solid rgb(255, 0, 13);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

.box-model-2 {
    height: 41px;
    width: 108px;
    margin-top: 56px;
    margin-bottom: 200px;
    padding-top: 34px;
    padding-bottom: 19px;
    margin-left: 41px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

.box-model-3 {
    height: 41px;
    width: 108px;
    margin-top: 56px;
    margin-bottom: 200px;
    padding-top: 34px;
    padding-bottom: 19px;
    margin-left: 41px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

.box-model-4 {
    height: 41px;
    width: 108px;
    margin-top: 56px;
    margin-bottom: 200px;
    padding-top: 34px;
    padding-bottom: 19px;
    margin-left: 41px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;

}
.down{
    text-align: center;
    color: dimgrey;
}
.link-button-2{
    height: 50px;
    width: 153px;
    color: white;
    background-color: rgb(247, 19, 19);
    margin-left: 590px;
    margin-right: 350px;
    padding-top: 13px;
    text-align: center;
    font-size: 25px;
    border-radius: 11px;
}
#brekdown{
    width: 724px;
    margin-left: 321px;
    margin-bottom: 23px;
    margin-top: 4px;
}
.ALL-box-1{
    display: flex;
}
.home-1{
    height: 245px;
    width: 286px;
    margin-left: 153px;
    margin-top: 46px;
    padding-top: 36px;
    padding-left: 28px;
    padding-right: 21px;
    background-color: aliceblue;
    border-radius: 2px;

}
.home-1 img{
    margin-bottom: 21px;
}
.min{
    margin-bottom: 29px;
}
.part-1{
    text-align: justify;
    color: darkgrey;
}
.home-2{
    height: 245px;
    width: 286px;
    margin-left: 28px;
    margin-top: 46px;
    padding-top: 36px;
    padding-left: 28px;
    padding-right: 21px;
    background-color: rgb(238, 220, 229);
    border-radius: 8px;

}
.min-1{
    margin-top: 18px;
    margin-bottom: 29px;
}
.home-3{
    height: 245px;
    width: 286px;
    margin-left: 28px;
    margin-top: 46px;
    padding-top: 36px;
    padding-left: 28px;
    padding-right: 21px;
    background-color: bisque;
    border-radius: 8px;
}
.width{
    height: 245px;
    width: 464px;
    margin-left: 172px;
    margin-top: 46px;
    padding-top: 118px;
    padding-left: 28px;
    padding-right: 21px;

}
.document{
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 700;
}
.fit{
    margin-top: 10px;
}
.fix{
    margin-top: 176px;
    margin-left: 34px;
}